<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
</head>
<body>

<hr>
<h1>REST TEST</h1>
<hr>
<form id="rest_form2">
    사원명 : <input type="text" name="ename" id="ename"><br>
</form>
<div id="id_rest_search_div2">
    스크립트를 통해 서버로 전송 --> 서버가 준 값을 노출
</div>


<hr>
<h1>REST TEST</h1>
<hr>
<form id="rest_form">
    부서번호 : <input type="text" name="deptno" id="deptno"><br>
    <input type="button" id="rest_button" value="부서별 사원 검색">
</form><br>
<div id="id_rest_search_div">
    스크립트를 통해 서버로 전송 --> 서버가 준 값을 노출
</div>


<hr>
<h1>Form Search </h1><br>
<form action="/form_search" method="post">
    부서번호 : <input type="text" name="deptno" ><br>
    <input type="submit" value="부서별 사원 검색">
</form><br>
<div id="id_form_search_div">
{% if  KEY_MY_EMP_LIST  %}
    {%  for v_list in KEY_MY_EMP_LIST %}
        {{ v_list[0] }} {{ v_list[1] }} {{ v_list[2] }} <br>
    {% endfor %}
{% endif %}
</div>

<hr>
<b>GET</b><br>
<a href="/rest_get?uid=kim&upw=000">GET링크</a><br>
<hr>
<b>GET</b><br>
<form action="/rest_get" method="get">
  <input type="text"     id="guid"   name="uid"><br>
  <input type="password" id="gupw"   name="upw"><br>
  <input type="submit" value="get전송">
</form>
<hr>
<b>POST</b><br>
<form action="/rest_post" method="post">
  <input type="text"     id="uid"   name="uid"><br>
  <input type="password" id="upw"   name="upw"><br>

  <input type="checkbox" id="habit1" name="habit" value="mnt">등산
  <input type="checkbox" id="habit2" name="habit" value="fish">낚시
  <input type="checkbox" id="habit3" name="habit" value="sw">수영
  <br>
  <input type="radio"    id="gen1"   name="gen" value="m">남
  <input type="radio"    id="gen2"   name="gen" value="f">여
  <br>

  <input type="hidden"   id="sec"   name="sec" value="0123456"><br>

  <select id="addr" name="addr">
      <option value="seoul">서울</option>
      <option value="daejeon">대전</option>
      <option value="daegu">대구</option>
  </select><br>

  <textarea id="memo" name="memo"></textarea><br>

  <input type="reset" value="리셋">
  <input type="button" value="그냥버튼">
  <input type="submit" value="post전송">
</form>

<hr>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script>
$(document).ready(function(){

        //---------------------------------------------------------------------------
        $("#rest_button").on('click', function(){
                  $.ajax({
                          url          : "/rest_search"
                        , method       : "post"
                        , data         : "deptno="+ $("#deptno").val()                       //서버로 보낼 데이터
                        , success      : function(res){
                                              console.log(res);

                                              html_str = "<table border=1 width=300 class='datatable-table'>";
                                              $.each(res, function(loopcnt, v){
                                                     html_str += `<tr><td>${v[0]}</td><td>${v[1]}</td><td>${v[2]}</td></tr>`;
                                              });

                                              html_str += "</table>";
                                              $("#id_rest_search_div").empty();
                                              $("#id_rest_search_div").html(html_str);
                                         }
                        , error          : function(){  alert("에러발생")  }
                        //, contentType  : "application/x-www-form-urlencoded; charset=UTF-8"  //서버로 보낼 데이터 타입(글자)
                        //, crossDomain  : true
                        //, dataType     : "json"          //서버가 줬으면하는 데이터 타입 json, text, xml, jsonp, script

                 });
        });
        //---------------------------------------------------------------------------

        $("#ename").on("input", function () {
            keyword = $(this).val();
            if (keyword.length === 0) return;

                  $.ajax({
                          url          : "/rest_search2"
                        , method       : "post"
                        , data         : "ename="+ keyword                       //서버로 보낼 데이터
                        , success      : function(res){
                                              console.log(res);

                                              html_str = "<table border=1 width=300 class='datatable-table'>";
                                              $.each(res, function(loopcnt, v){
                                                     html_str += `<tr><td><img src='static/search_icon.png' width=20> ${v[1]}</td></tr>`;
                                              });

                                              html_str += "</table>";
                                              $("#id_rest_search_div2").empty();
                                              $("#id_rest_search_div2").html(html_str);
                                         }
                        , error          : function(){  alert("에러발생")  }
                        //, contentType  : "application/x-www-form-urlencoded; charset=UTF-8"  //서버로 보낼 데이터 타입(글자)
                        //, crossDomain  : true
                        //, dataType     : "json"          //서버가 줬으면하는 데이터 타입 json, text, xml, jsonp, script

                 });
        });

});

</script>
</body>
</html>